# 02_preprocessing

## Importando bibliotecas

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

## Carregando os dados

In [2]:
# Dados
df = pd.read_csv('../data/raw/train.csv', parse_dates=['Date'])
df = df[df['Open'] == 1]  # Remover dias fechados

C:\Users\heitor\AppData\Local\Temp\ipykernel_16920\42816261.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/train.csv', parse_dates=['Date'])

## Processamento

In [3]:
# Foco em uma loja
store_df = df[df['Store'] == 1].copy()

In [4]:
# Features temporais
store_df['Day'] = store_df['Date'].dt.day
store_df['Week'] = store_df['Date'].dt.isocalendar().week
store_df['Month'] = store_df['Date'].dt.month
store_df['Year'] = store_df['Date'].dt.year
store_df['DayOfWeek'] = store_df['Date'].dt.dayofweek

In [5]:
# Codificando variáveis categóricas
le = LabelEncoder()
store_df['StateHoliday'] = le.fit_transform(store_df['StateHoliday'].astype(str))

In [6]:
# Salvando versão tratada
store_df.to_csv('../data/processed/store_1_prepared.csv', index=False)
store_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Day,Week,Month,Year
0,1,4,2015-07-31,5263,555,1,1,0,1,31,31,7,2015
1115,1,3,2015-07-30,5020,546,1,1,0,1,30,31,7,2015
2230,1,2,2015-07-29,4782,523,1,1,0,1,29,31,7,2015
3345,1,1,2015-07-28,5011,560,1,1,0,1,28,31,7,2015
4460,1,0,2015-07-27,6102,612,1,1,0,1,27,31,7,2015